@model List<Eproject_Online_floral_delivery.DAL.tbl_category>
@{
    ViewBag.Title = "addProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .error {
        border-color: red !important;
    }

    .success {
        border-color: green !important;
    }

    .select2-container .select2-selection--single {
        height: 42px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    #dropZone {
        border: 1px dotted blue;
        text-align: center;
        height: 100px;
        vertical-align: middle !important;
        line-height: 90px
    }

    .Description {
        display: flex;
        float: right;
        position: absolute;
        top: 0;
        margin-top: 220px;
        justify-content: right;
        margin-left: 650px;
        height: 500px !important
    }
</style>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Add Product</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="../Admin/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="../Admin/Product">Product</a></li>
            <li class="breadcrumb-item active">add product</li>
        </ol>
        <form action="javascript:void(0)" class="validate" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-control mb-3 mb-md-0">
                            <label for="productName">Product Name</label>
                            <input class="form-control mask alphanumeric obg" name="productName" id="productName" type="text" placeholder="Enter product name" data-invalidmessage="Enter product name" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control mb-3 mb-md-0">
                            <label for="">Category</label>
                            <select class="form-control col-md-12 select2 obg" id="categoryName" name="categoryName">
                                <option value="">Category Name</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@(item.categoryID)">@(item.name)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-control mb-3 mb-md-0 ">
                            <label for="">Quantity</label>
                            <div class="counter form-control" id="quantityNumber" name="quantity" min="1" max="9999"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-control mb-3 mb-md-0 ">
                            <label for="productName">Price</label>
                            <input class="form-control mask num obg" name="price" id="price" type="text" placeholder="Enter Price" data-invalidmessage="Enter Price" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-control mb-3 mb-md-0 ">
                            <label for="productName">
                                Reduced price
                            </label>
                            <input class="form-control num" name="priceSale" id="priceSale" type="text" placeholder="Enter Reduced Price" />
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <div class="form-control mb-3 mb-md-0">
                            <label for="">
                                Image
                            </label>
                            <input type="file" name="file" id="file" style="width: 100%" />
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <div class="form-control mb-3 mb-md-0">
                            <input type="checkbox" name="active" id="active" /> <span>Active</span>
                            <input type="checkbox" name="feature" id="feature" /> <span>Feature</span>
                        </div>
                    </div>
                </div>

                <div class="row mb-6 title">
                    <div class="col-md-5">
                        <div class="form-control mb-3 mb-md-0">
                            <label for="">
                                Title
                            </label>
                            <textarea class="ckeditor" name="metaTitle">

                            </textarea>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row col-md-6 pull-right Description mb-6" style="">
                <div class="col-md-12">
                    <div class="mb-6 mb-md-3">
                        <label for="">
                            Description
                        </label>
                        <textarea class="ckeditor" name="description">

                     </textarea>
                    </div>
                </div>
            </div>

            <br />
            <div class="row col-md-6 pull-right" style="right: 0">
                <div class="col-md-2">
                    <div class="mb-6">
                        <button class="btn btn-secondary" id="btnSubmit">SAVE</button>
                    </div>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-lg btn-indigo" data-toggle="modal" data-target="#myModal">Open Modal</button>
                    </div>
                </div>*@
            <style>
                .error {
                    border-color: red !important;
                }

                .success {
                    border-color: green !important;
                }
            </style>
        </form>
    </div>
</main>

@section scripts{
    @*add validate form*@
    <script type="text/javascript" src="~/assets/admin/js/InnerFormValidation.js"></script>


    @*add library boostrap select*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    @*quantity number spinder*@
    <script src="~/assets/admin/js/numberSpinder/plugin.js"></script>
    @*toasts jquery*@
    <link href="~/assets/admin/admin-sbStyle/build/toastr.css" rel="stylesheet" type="text/css" />
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="~/assets/admin/admin-sbStyle/build/toastr.js"></script>
    @*toasts jquery end*@
    @*modal date sale product*@
    <script src="~/assets/admin/modal-sale-date/js/popper.js"></script>
    <script src="~/assets/admin/modal-sale-date/js/main.js"></script>
    @*modal date sale product end*@
    @*dropzone*@
    <script src="~/Scripts/dropzone/dropzone.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/dropzone/dropzone.min.css" />
    @*ckeditor*@
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    @*cxDialog*@
    <link href="~/assets/admin/js/cxDialog/jquery.cxdialog.css" rel="stylesheet" />
    <script src="~/assets/admin/js/cxDialog/jquery.cxdialog.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            let dayStartSale, dayEndSale, fileName;
            $('.select2').select2();
            $('#quantityNumber').htmlNumberSpinner();

            $("#active").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                } else {
                    $(this).attr('value', 'false');
                }
            });
            $("#feature").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                } else {
                    $(this).attr('value', 'false');
                }
            });

            $.cxDialog.defaults.background = '#000';
            $("#priceSale").on("blur", function () {
                $.cxDialog({
                    title: 'Discount start date to end date',
                    info: `<div class="row mb-3" id="datePriceSale">
                                <div class="col-md-12">
                                    <div class="form-control mb-3 mb-md-0">
                                        From
                                <div class="mb-3" id="startDate">
                                    <input class="form-control mask num obg" name="startDate" id="" type="date" />
                                </div>
                                To
                                <div class="mb-3" id="endDate">
                                    <input class="form-control mask num obg" name="endDate" id="" type="date" />
                                </div>
                                    </div>
                                </div>
                            </div>`,
                    okText: 'Confirm',
                    no: null,
                    noText: 'Cancel',
                    ok: function () {
                        dayStartSale = $('#startDate').find("input").val();
                        dayEndSale = $('#endDate').find("input").val();
                        console.log(dayStartSale);
                        console.log(dayEndSale);
                    },
                    no: function () {
                        console.log('cancel');
                    },
                    baseClass: 'ios'
                });
            });


            $('input[type="file"]').change(function (e) {
                var fileSize = e.target.files[0].size;
                if (fileSize > 2097152) {

                } else {
                    fileName = e.target.files[0].name;
                }
            });

            $(document).on("click", "#btnSubmit", function (e) {
                e.preventDefault();
                var valData = new Object();
                valData.productName = $('#productName').val();
                valData.categoryID = $('#categoryName').val();
                valData.quantity = $('#quantityNumber').getSpinnerValue();
                valData.price = $('#price').val();
                if ($('#priceSale').val() != null) {
                    valData.priceSale = $('#priceSale').val();
                    valData.dayStartSale = dayStartSale;
                    valData.dayEndSale = dayEndSale;
                };
                if (fileName != undefined) {
                    valData.image = fileName;
                }
                valData.metaTitle = CKEDITOR.instances['metaTitle'].getData();
                valData.description = CKEDITOR.instances['description'].getData();
                valData.isActive = $('#active').val();
                valData.isFeature = $('#feature').val();
                console.log(valData);
            });
        });
    </script>

    @*<script>
            let attachment;
            Dropzone.autoDiscover = false;
            $('#my-awesome-dropzone').dropzone({
                url: '/Admin/addProduct',
                autoProcessQueue = false,
                init: function () {
                    let files = 0;
                    this.on("addedfile", function (file) {
                        files++;
                        if (attachment == undefined && files === 1) {
                            attachment = file;
                        }
                    })
                    this.on("removedfile", function (file) {
                        files--;
                        if (files === 0) {
                            attachment = undefined;
                        }
                    })
                }
            });
        </script>*@

    <script>

    </script>
}



